@font-face {
	font-family: 'matong';
	src:  url('../fonts/matongf6cd.eot?9y89a6');
	src:  url('../fonts/matongf6cd.eot?9y89a6#iefix') format('embedded-opentype'),
	  url('../fonts/matongf6cd.ttf?9y89a6') format('truetype'),
	  url('../fonts/matongf6cd.woff?9y89a6') format('woff'),
	  url('../fonts/matongf6cd.svg?9y89a6#matong') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'matong' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-sleep-check:before {
	content: "\e956";
  }
  .icon-video:before {
	content: "\e955";
  }
  .icon-reply:before {
	content: "\e954";
  }
  .icon-close-slim:before {
	content: "\e953";
  }
  .icon-check-slim:before {
	content: "\e952";
  }
  .icon-card:before {
	content: "\e951";
  }
  .icon-sleep-charge:before {
	content: "\e900";
  }
  .icon-big:before {
	content: "\e94b";
  }
  .icon-gps:before {
	content: "\e94c";
  }
  .icon-copy:before {
	content: "\e94d";
  }
  .icon-location-now:before {
	content: "\e94e";
  }
  .icon-call:before {
	content: "\e94f";
  }
  .icon-clock:before {
	content: "\e94a";
  }
  .icon-rerender:before {
	content: "\e949";
  }
  .icon-battery-three-quarters:before {
	content: "\e948";
  }
  .icon-Apple-logo:before {
	content: "\e901";
  }
  .icon-minus:before {
	content: "\e902";
  }
  .icon-plus:before {
	content: "\e903";
  }
  .icon-reset:before {
	content: "\e904";
  }
  .icon-location-arrow:before {
	content: "\e943";
  }
  .icon-circle-question:before {
	content: "\e942";
  }
  .icon-window-restore:before {
	content: "\e941";
  }
  .icon-circle-minus:before {
	content: "\e93e";
  }
  .icon-circle-plus:before {
	content: "\e93f";
  }
  .icon-circle-times:before {
	content: "\e940";
  }
  .icon-share:before {
	content: "\e905";
  }
  .icon-cacao:before {
	content: "\e93b";
  }
  .icon-naver:before {
	content: "\e93c";
  }
  .icon-mail:before {
	content: "\e939";
  }
  .icon-password:before {
	content: "\e93a";
  }
  .icon-address-card:before {
	content: "\e906";
  }
  .icon-arrow-to-bottom:before {
	content: "\e907";
  }
  .icon-check:before {
	content: "\e908";
  }
  .icon-chevron-double-left:before {
	content: "\e909";
  }
  .icon-chevron-double-right:before {
	content: "\e90a";
  }
  .icon-chevron-down:before {
	content: "\e90b";
  }
  .icon-chevron-left:before {
	content: "\e90c";
  }
  .icon-chevron-right:before {
	content: "\e90d";
  }
  .icon-chevron-up:before {
	content: "\e90e";
  }
  .icon-clipboard-list:before {
	content: "\e90f";
  }
  .icon-clipboard-list-check:before {
	content: "\e910";
  }
  .icon-close:before {
	content: "\e911";
  }
  .icon-coins:before {
	content: "\e912";
  }
  .icon-comments:before {
	content: "\e913";
  }
  .icon-download:before {
	content: "\e914";
  }
  .icon-file-excel:before {
	content: "\e915";
  }
  .icon-headphone:before {
	content: "\e916";
  }
  .icon-headset:before {
	content: "\e917";
  }
  .icon-heart:before {
	content: "\e918";
  }
  .icon-heart-line:before {
	content: "\e919";
  }
  .icon-home:before {
	content: "\e91a";
  }
  .icon-location:before {
	content: "\e91b";
  }
  .icon-map:before {
	content: "\e91c";
  }
  .icon-matong:before {
	content: "\e91d";
  }
  .icon-memo:before {
	content: "\e91e";
  }
  .icon-pencil:before {
	content: "\e91f";
  }
  .icon-search:before {
	content: "\e920";
  }
  .icon-sign-in:before {
	content: "\e921";
  }
  .icon-star-off:before {
	content: "\e922";
  }
  .icon-star-on:before {
	content: "\e923";
  }
  .icon-store:before {
	content: "\e924";
  }
  .icon-street-view:before {
	content: "\e925";
  }
  .icon-subway:before {
	content: "\e926";
  }
  .icon-tags:before {
	content: "\e927";
  }
  .icon-ticket:before {
	content: "\e928";
  }
  .icon-user-cog:before {
	content: "\e929";
  }
  .icon-bed:before {
	content: "\e92a";
  }
  .icon-bed-meridian:before {
	content: "\e92b";
  }
  .icon-bed-tai:before {
	content: "\e92c";
  }
  .icon-card-base:before {
	content: "\e92d";
  }
  .icon-cash-card:before {
	content: "\e92e";
  }
  .icon-dog:before {
	content: "\e92f";
  }
  .icon-drink:before {
	content: "\e930";
  }
  .icon-hour:before {
	content: "\e931";
  }
  .icon-landmark:before {
	content: "\e932";
  }
  .icon-lowest:before {
	content: "\e933";
  }
  .icon-parking-charge:before {
	content: "\e934";
  }
  .icon-parking-free:before {
	content: "\e935";
  }
  .icon-reservation:before {
	content: "\e936";
  }
  .icon-room-couple:before {
	content: "\e937";
  }
  .icon-room-group:before {
	content: "\e938";
  }
  .icon-room-personal:before {
	content: "\e93d";
  }
  .icon-sale-couple:before {
	content: "\e944";
  }
  .icon-sale-special:before {
	content: "\e945";
  }
  .icon-shower:before {
	content: "\e946";
  }
  .icon-toilet:before {
	content: "\e947";
  }
  .icon-wifi:before {
	content: "\e950";
  }
  