.content.mt-5.pt-5 {
  margin-top: 8rem;
  margin-bottom: 5rem;
}
input[type="range"].multirange {

  width: 100%;
}
.shop-box-wrap {
  padding: 1rem;
}
.shop-img {
  overflow: hidden;
}
.swiper-container.mySwiper2.main-img img {
  height: 30rem;
  width: 100%;
}
.swiper-container.mySwiper2.thumb-img img {
  height: 30rem;
  width: 100%;
}
ul#tab-button {
  display: flex;
  justify-content: space-around;
}
ul#tab-button li {
  width: 33%;
}

ul#tab-button li a.btn {
  width: 100%;
  font-size: 1.5rem;
  /* text-align: center; */
  background-color: #f8f9fb;
  padding: 2rem;
}
ul#tab-button li.is-active a.btn {
  background-color: #181035!important;
  color: white;
}
ul#tab-button a.btn:focus {

  box-shadow:none;
  }